{% extends 'users/profile.html' %}


{% block user_profile %}active{% endblock %}


{% block panel_title %}MY PROFILE{% endblock %}

{% block user_playlists %}
<div class="col-md-4 col-8 ml-auto mr-auto">
    <h3 class="mb-0"><b>{{user.playlists | length}}</b></h3>
    <a href="{% block user_playlists_link %}{{url_for('user_playlists', user_id=user.id)}}{% endblock %}"><button class="btn btn-outline-info btn-round">Playlists</button></a>
</div>
{% endblock %}

{% block profile_actions %}
<div class="row text-center justify-content-center my-3">
      <a href="{{url_for('edit_my_profile')}}">
          <button class="btn btn-info text-center">Edit Profile</button>
      </a>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}