{% extends 'home.html' %}


{% block playlists %}active{% endblock %}


{% block panel_title %}MY PLAYLISTS{% endblock %}

{% set liked_playlists = user.playlists | selectattr("user_id", "ne", user.id) | list %}
{% set my_playlists = user.playlists | selectattr("user_id", "equalto", user.id) | list %}

{% block panel_content %}

<div class="card">
    <div class="card-body">
        <table class="my-playlists-list mb-4 mt-3 table table-striped table-bordered">
            
            <thead>
                <tr>
                    <td style="font-size: 24px;font-weight: bold;">Liked Playlists</td>
                </tr>
            </thead>




            {% for playlist in liked_playlists %}
                <tr>
                    <td>
                        <span class="my-0 ml-3 h5"><a href="{{url_for('show_playlist', playlist_id=playlist.id)}}" class="text-info"><b>{{playlist.name | e}}</b></a></span>
                        <span class="my-0">(<em>{{playlist.songs | length}} Songs</em>)</span>
                        <p class="my-0 ml-3"><em>Created by @<a href="{{url_for('user_profile',user_id=playlist.creator.id)}}" style="color:black">{{playlist.creator.username | e}}</a></em></p>
                    </td>
                </tr>
            {% endfor %}
        
        </table>

        {% if liked_playlists | length == 0 %}
        <h5 class="mt-0 mb-4">You have not liked any playlists!</h5>
        {% endif %}

        <table class="my-playlists-list mb-5 mt-3 table table-bordered table-striped">
            
            <thead>
                <tr>
                    <td style="font-size: 24px;font-weight: bold;">My Playlists</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <span class="my-0 ml-3 h5">
                            <a href="{{url_for('show_playlist', playlist_id=0)}}" class="text-info"><b>Liked Songs</b></a>
                        </span>
                        <span class="my-0">(<em>{{user.likes | length}} Songs</em>)</span>
                    </td>
                </tr>
        
                {% for playlist in my_playlists %}
                    <tr>
                        <td>
                            <span class="my-0 h5 ml-3">
                                <a href="{{url_for('show_playlist', playlist_id=playlist.id)}}" class="text-info"><b>{{playlist.name | e}}</b></a>
                            </span>
                            <span class="my-0">(<em>{{playlist.songs | length}} Songs</em>)</span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        
        </table>
        <hr>
        
        <form id="new-playlist" action="{{url_for('user_playlists', user_id=user.id)}}" method="post">
            {% if msg %}
            <div class="alert alert-danger">{{msg | e}}</div>
            {% endif %}
            <div class="form-group">
                <input type="text" name="playlist-name" id="playlist-name" class="form-control" required placeholder="Playlist Name">
            </div>
            
            <button class = "btn btn-primary" id="create-playlist" >Create a New Playlist</button>
        </form>
    </div>

</div>





{% endblock %}

