{% extends 'users/profile.html' %}


{% block user_profile %}active{% endblock %}


{% block panel_title %} <p class="navbar-brand">My Profile</p> {% endblock %}

{% block user_playlists %}{{url_for('user_playlists', user_id=0)}}{% endblock %}

{% block profile_actions %}
<div class="row text-center justify-content-center my-3">
      <a href="{{url_for('edit_my_profile')}}">
          <button class="btn btn-info text-center">Edit Profile</button>
      </a>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}