{% extends 'base.html'%}
{% set notifications = g.user.received_msgs | selectattr("category", "equalto", "fr") | list %}

{% block content %}

  <div class="wrapper">
    <div class="sidebar" data-color="white" data-active-color="info">
      <div class="logo">
        <a href="/" class="simple-text logo-normal" style="font-size: 20px;">
          Tabular

        </a>
      </div>
      
      <div class="sidebar-wrapper">
        <ul class="nav">
          
          <li class="{% block dashboard %}{% endblock %}">
            <a href="/">
              <i class="nc-icon nc-bank"></i>
              <p>Dashboard</p>
            </a>
          </li>
          
          
          <li class="{% block search %}{% endblock %}">
            <a href="{{url_for('search_page')}}">
              <i class="nc-icon nc-zoom-split"></i>
              <p>Search</p>
            </a>
          </li>
          
          
          <li class="{% block playlists %}{% endblock %}">
            <a href="{{url_for('user_playlists',user_id=curr_user.id)}}">
              <i class="nc-icon nc-button-play"></i>
              <p>Playlists</p>
            </a>
          </li>
          
          
          <li class="{% block friends %}{% endblock %}">
            <a href="{{url_for('user_friends', user_id=curr_user.id)}}">
              <i class="nc-icon nc-satisfied"></i>
              <p>Friends</p>
            </a>
          </li>
          
          <!-- Revisit Later -->
          <!-- <li class="{% block bands %}{% endblock %}">
            <a href="">
              <i class="nc-icon nc-note-03"></i>
              <p>Bands</p>
            </a>
          </li> -->

          <li class="{% block messages %}{% endblock %}">
            <a href="{{url_for('show_messages')}}" class="d-flex align-items-center">
              <i class="nc-icon nc-bell-55"></i>
              <p>
                Notifications   
                
                {% if notifications | length > 0 %}
                <button class="btn btn-sm btn-danger btn-fab btn-icon btn-round ml-3" id="notifications-badge">{{notifications | length}}</button>
                {% endif %}
                
              </p>

            </a>
          </li>

          
          
          <li class="{% block user_profile %}{% endblock %}">
            <a href="{{url_for('user_profile', user_id=curr_user.id)}}">
              <i class="nc-icon nc-circle-10"></i>
              <p>User Profile</p>
            </a>
          </li>
          

        </ul>
      </div>
    </div>

    
    <div class="main-panel h-100">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent" >
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <h4 class="my-0"><b>{% block panel_title %}{% endblock %}</b></h4>

          </div>
          <div class="collapse navbar-collapse justify-content-end">
            
            <a class="navbar-link mr-2" href="{{url_for('user_profile', user_id=curr_user.id)}}">
              <img src="{{curr_user.profile_pic}}" style="width:30px; height:30px; border-radius: 15px; border: solid gray 1px;">
            </a>
            <a class="navbar-link mr-4" href="{{url_for('user_profile', user_id=curr_user.id)}}">@{{curr_user.username}}</a>
            <a class="navbar-link" href="/logout">Logout</a>
          </div>
          
          

      </nav>
      <!-- End Navbar -->

      
      <div class="content main-panel w-100">
        {% block panel_content %}

        {% endblock %}
        
      </div>
      
    </div>
  </div>

{% endblock %}
