{% extends 'base.html'%}
{% set notifications = g.user.received_msgs | selectattr("category", "equalto", "fr") | list %}

{% block content %}

  <div class="wrapper">
    <div class="sidebar" data-color="white" data-active-color="info">
      <div class="logo">
        <a href="/" class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src="{{url_for('static',filename='images/tabular_logo.png')}}">
          </div>
        </a>
        <a href="/" class="simple-text logo-normal" style="font-size: 20px;">
          Tabular

        </a>
      </div>
      
      <div class="sidebar-wrapper">
        <ul class="nav">
          
          <li class="{% block dashboard %}{% endblock %}">
            <a href="/">
              <i class="nc-icon nc-bank"></i>
              <p>Dashboard</p>
            </a>
          </li>
          
          
          <li class="{% block search %}{% endblock %}">
            <a href="{{url_for('search_page')}}">
              <i class="nc-icon nc-zoom-split"></i>
              <p>Search</p>
            </a>
          </li>
          
          
          <li class="{% block playlists %}{% endblock %}">
            <a href="{{url_for('user_playlists',user_id=curr_user.id)}}">
              <i class="nc-icon nc-button-play"></i>
              <p>Playlists</p>
            </a>
          </li>
          
          
          <li class="{% block friends %}{% endblock %}">
            <a href="{{url_for('user_friends', user_id=curr_user.id)}}">
              <i class="nc-icon nc-satisfied"></i>
              <p>Friends</p>
            </a>
          </li>
          
          <!-- Revisit Later -->
          <!-- <li class="{% block bands %}{% endblock %}">
            <a href="">
              <i class="nc-icon nc-note-03"></i>
              <p>Bands</p>
            </a>
          </li> -->

          <li class="{% block messages %}{% endblock %}">
            <a href="{{url_for('show_messages')}}" class="d-flex align-items-center">
              <i class="nc-icon nc-bell-55"></i>
              <p>
                Notifications   
                
                {% if notifications | length > 0 %}
                <button class="btn btn-sm btn-danger btn-fab btn-icon btn-round ml-3" id="notifications-badge">{{notifications | length}}</button>
                {% endif %}
                
              </p>

            </a>
          </li>

          
          
          <li class="{% block user_profile %}{% endblock %}">
            <a href="{{url_for('user_profile', user_id=curr_user.id)}}">
              <i class="nc-icon nc-circle-10"></i>
              <p>User Profile</p>
            </a>
          </li>
          

        </ul>
      </div>
    </div>

    
    <div class="main-panel h-100">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent" >
        <div class="container-fluid" style="background-color:#F4F3EF;">
          <div class="navbar-wrapper">
            <div class="container-fluid">
                <div class="navbar-toggle">
                  <button type="button" class="navbar-toggler sidebar-collapse-btn" data-hidden="true" data-toggle="collapse" data-target="#sidebar" aria-expanded="false" aria-label="Toggle sidebar">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                  </button>
                </div>
              <h4 class="my-0" id="panel-title"><b>{% block panel_title %}{% endblock %}</b></h4>

              <div class="nav collapse navbar-collapse" id="sidebar">
                <ul class="navbar-nav">
          
                  <li class="nav-item d-flex align-items-center">
                    <div class="hide-container" hidden>
                      <i class="nc-icon nc-bank" style="font-size: 20px;"></i>
                      <a href="/" class="ml-2" style="font-size: 20px;">
                        Dashboard
                      </a>
                    </div>

                  </li>
                  
                  <li class="nav-item d-flex align-items-center">
                    <div class="hide-container" hidden>
                      <i class="nc-icon nc-zoom-split" style="font-size: 20px;"></i>
                      <a href="{{url_for('search_page')}}" class="ml-2" style="font-size: 20px;">
                        Search
                      </a>
                    </div>
                  </li>
                  
                  <li class="nav-item d-flex align-items-center">
                    <div class="hide-container" hidden>
                      <i class="nc-icon nc-button-play" style="font-size: 20px;"></i>
                      <a href="{{url_for('user_playlists',user_id=curr_user.id)}}"  class="ml-2" style="font-size: 20px;">
                        Playlists
                      </a>
                    </div>
                  </li>
                  
                  <li class="nav-item d-flex align-items-center">
                    <div class="hide-container" hidden>
                      <i class="nc-icon nc-satisfied" style="font-size: 20px;"></i>
                      <a href="{{url_for('user_friends', user_id=curr_user.id)}}" class="ml-2" style="font-size: 20px;">
                        Friends
                      </a>
                    </div>
                  </li>
                  
                  <!-- Revisit Later -->
                  <!-- <li class="nav-item">
                    <a href="">
                      <i class="nc-icon nc-note-03"></i>
                      <p>Bands</p>
                    </a>
                  </li> -->
        
                  <li class="nav-item d-flex align-items-center">
                    <div class="hide-container" hidden>
                      <i class="nc-icon nc-bell-55" style="font-size: 20px;"></i>
                      <a href="{{url_for('show_messages')}}" class="ml-2" style="font-size: 20px;">
                        Notifications
                      </a>
                    </div>
                  </li>
        
                  <li class="nav-item d-flex align-items-center mb-3">
                    <div class="hide-container" hidden>
                      <i class="nc-icon nc-circle-10" style="font-size: 20px;"></i>
                      <a href="{{url_for('user_profile', user_id=curr_user.id)}}" class="ml-2" style="font-size: 20px;">
                        User Profile
                      </a>
                    </div>
                  </li>
                
                </ul> 
              </div>
            </div>


            
          </div>

          <button class="navbar-toggler navbar-collapse-btn" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <div class="navbar-nav">
              <div class="nav-item ml-3">
                <a class="navbar-link mr-2" href="{{url_for('user_profile', user_id=curr_user.id)}}">
                  <img src="{{url_for('static',filename=curr_user.profile_pic)}}" style="width:30px; height:30px; border-radius: 15px; border: solid gray 1px;" loading="lazy">
                </a>                
                <a class="navbar-link mr-4" href="{{url_for('user_profile', user_id=curr_user.id)}}">@{{curr_user.username | e}}</a>
              </div>
              <div class="nav-item ml-3 my-0 d-flex align-items-center">
                <a class="navbar-link" href="/logout">Logout</a>
              </div>
            </div>

          </div>
          
          

      </nav>
      <!-- End Navbar -->

      
      <div class="content main-panel w-100">
        {% with messages = get_flashed_messages(with_categories=true) %}

          {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{category}} alert-dismissable fade show">
              {{message | e}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>              
            </div>
            {% endfor %}
          {% endif %}

        {% endwith %}        
        {% block panel_content %}

        {% endblock %}
        
      </div>
      
    </div>
  </div>

{% endblock %}

{% block all_scripts %}
<script src="{{url_for('static',filename='js/sidebar.js')}}"></script>
  {% block scripts %}
  
  {% endblock %}
{% endblock %}
