{% extends 'home.html' %}

{% from 'base.html' import add_remove, song_modal%}



{% block panel_title %}PLAYLISTS{% endblock %}

{% block panel_content %}

<div class="card">
    <div class="card-body">
        {% if user.likes | length < 1 %}
        <h5 class="ml-3 mt-4">You have no liked songs!
            <a href="{{url_for('search_page')}}"> Search for songs</a>
        </h5>
        {% endif %}
        
        <div id="liked-songs" class="m-3">
        
        
        
            <table class="table table-striped table-bordered mb-4">
        
                {% if user.likes | length > 0 %}
                <thead>
                    <tr>
                        <td>
                           <b style="font-size: 24px;">My Liked Songs</b>
                        </td>
                    </tr>
                </thead>
                {% endif %}
        
                
                <tbody>
                    {% for song in user.likes %}
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col">
                                    <p class="my-0" style="font-size: 18px;"><a href="{{song.tab_url}}" class="text-info"><b>{{song.title | e}}</b></a></p>
                                    <p class="my-0"><em>by {{song.artist | e}}</em></p>  
                                </div>
            
                                <div class="col d-flex justify-content-end align-items-center">
        
                                    <a href="#" class="mr-2" style="font-size: 18px;">
                                        <i class="fa-solid like fa-heart" data-is-liked="true" data-song-info="{{song.serialize()}}" style="color:red;cursor:pointer;"></i>
                                    </a>
        
                                    <div class="btn-group dropleft  mr-4">
                                        <a class="ml-3" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa-solid fa-bars"></i>
                                        </a>
                                        <div class="dropdown-menu">
                                            {{add_remove(song,user)}}
                                        </div>
                                    </div> 
                                </div>
            
                            </div>
                                          
                        </td>
            
                    </tr>  
                    {% endfor %}   
                </tbody>
        
                  
            </table>
        </div>
    </div>
</div>




{{song_modal(playlists=user.playlists)}}

{% endblock %}

{% block scripts %}
<script src="../static/js/songs.js"></script>
<script src="../static/js/playlists.js"></script>
{% endblock %}