{% extends 'home.html' %}

{% from 'base.html' import render_friend %}


{% block friends %}active{% endblock %}


{% block panel_title %} 
{% if user.id == curr_user.id %}
<p class="navbar-brand">My Friends</p> 
{% else %}
<h5><a href="{{url_for('user_profile', user_id=user.id)}}" class="link-dark">@{{user.username}}</a>'s Friends</h5>
{% endif %}
{% endblock %}


{% block panel_content %}

{% if user.friends | length < 1 %}

    {% if user.id == curr_user.id %}
    <h5>You have no friends!
        <a href="{{url_for('search_page')}}">Search for other Users</a>
    </h5>
    {% else %}
    <h5>@{{user.username}} does not have any friends!</h5>
    <!-- Add later(?): "Send them a friend request" button -->
    {% endif %}

{% endif %}


{% for friend in user.friends %}
{{render_friend(friend)}}
{% endfor %}

{% endblock %}
