{% extends 'home.html' %}
{% set user_playlists = user.playlists | selectattr("user_id", "equalto", user.id) | list %}

{% block panel_title %}@{{user.username | e}}'S PROFILE{% endblock %}


{% block panel_content %}

<div class="row">
    <div class="col-xl-6 col-md-8">
      <div class="card card-user">
        <div class="image" style="height:200px;">
          <img style="height:100%; width:100%; border-radius: 10px 10px 0px 0px;" src="{{url_for('static',filename=user.cover_pic)}}" alt="cover photo">
        </div>
        <div class="card-body mb-0">
          <div class="author">
            
            <img class="avatar border-gray" src="{{url_for('static',filename=user.profile_pic)}}" alt="profile photo">
            <h2 class="title mb-0">{{user.full_name | e}}</h2>
            <h5 class="mt-0">
              @{{user.username | e}}
              {% if user.check_if_friends(curr_user.id) %}
              <br>
              <span class="badge badge-success mt-2">Friends <i class="fa-solid fa-check"></i></span>
              {% endif %}
            </h5>

            <p>
              <span class="iconify mr-2" data-icon="{{user.instrument.icon}}" data-width="30" data-height="30"></span>
              <span>{{user.instrument.name | e}}</span>
            </p>
            {% if user.bio %}
            <p class="text-center description font-weight-normal">{{user.bio | e}}</p>
            {% endif %}
          </div>
          
        </div>
        <div class="card-footer">
          <hr>
          <div class="button-container">
            <div class="row mb-3">
              <div class="col-md-4 col-8 ml-auto mr-auto">
                <h3 class="mb-0"><b>{{user.friends | length}}</b></h3>
                <a href="{{url_for('user_friends',user_id=user.id)}}"><button class="btn btn-outline-info btn-round">Friends</button></a>
              </div>

              {% block user_playlists %}
              <div class="col-md-4 col-8 ml-auto mr-auto">
                
                  <h3 class="mb-0"><b>{{user_playlists | length}}</b></h3>
                  
                  {% if user.check_if_friends(curr_user.id) %}
                  <a href="{% block user_playlists_link %}{{url_for('user_playlists', user_id=user.id)}}{% endblock %}"><button class="btn btn-outline-info btn-round">Playlists</button></a>
                  {% else %}
                  <button class="btn btn-outline-info btn-round disabled">Playlists</button>
                  {% endif %}
                
              </div>
              {% endblock %}

              <!-- <div class="col-md-4 col-8 mr-auto ml-auto">
                <h5>{{user.bands | length}}<br><a href="{% block user_bands %}{% endblock %}"><small>Bands</small></a></h5>
              </div> -->
            </div>

            <hr>
            {% block profile_actions %}
            {% if user.check_pending_request(other_user_id=curr_user.id)%}
            <div class="row justify-content-center my-3">
              <div class="alert alert-info text-center">Friend Request Pending</div>
            </div>
            {% elif user not in curr_user.friends %}
            <div class="row justify-content-center my-3">
                <button class="btn btn-info text-center" id="friend-request" data-user-id="{{user.id}}">Send Friend Request</button>
            </div>
            {% else %}
            <div class="row justify-content-center my-3">
              <form action="{{url_for('remove_friend', user_id=user.id)}}" method="post"><button class="btn btn-danger text-center">Remove Friend</button></form>
            </div>
            {% endif %}
            {% endblock %}            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





{% endblock %}

{% block scripts %}
<script src="../../static/js/friends.js"></script>

{% endblock %}