<!--
=========================================================
* Material Kit 2 - v3.0.4
=========================================================

* Product Page:  https://www.creative-tim.com/product/material-kit 
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/material-kit-master/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/static/material-kit-master/assets/img/favicon.png">
  <title>
    Tabular
  </title>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <link href="/static/material-kit-master/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/static/material-kit-master/assets/css/nucleo-svg.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <link id="pagestyle" href="/static/material-kit-master/assets/css/material-kit.css?v=3.0.4" rel="stylesheet" />
</head>

<body class="sign-in-basic">

  <nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3  navbar-transparent ">
    <div class="container">
      <a class="navbar-brand  text-white " href="/" rel="tooltip">
        Tabular
      </a>
    </div>
  </nav>
  
  <div class="page-header align-items-start min-vh-100" style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');" loading="lazy">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-4 col-md-8 col-12 mx-auto">
          <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Register</h4>
              </div>
            </div>
            <div class="card-body">
              <form role="form" class="text-start" action="{{url_for('register')}}" method="post">

                {{ form.hidden_tag() }}

                {% for field in form if field.widget.input_type != 'hidden' %}
                  {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                  {% endfor %}

                  {% if field.data %}
                  <div class="input-group input-group-outline my-3 is-filled">
                    {{ field.label(class_='form-label') }}
                    {{ field(class_="form-control") }}
                  </div>
                  {% else %}
                  <div class="input-group input-group-outline my-3">
                    {{ field.label(class_='form-label') }}
                    {{ field(class_="form-control") }}
                  </div>
                  {% endif %}

                {% endfor %}
        
                <div class="text-center">
                  <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">Register</button>
                </div>

              </form>
              <p class="mt-4 text-sm text-center">
                Already have an account? <a href="{{url_for('login')}}">Login</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="/static/material-kit-master/assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="/static/material-kit-master/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <script src="/static/material-kit-master/assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/static/material-kit-master/assets/js/plugins/parallax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
  <script src="/static/material-kit-master/assets/js/material-kit.min.js?v=3.0.4" type="text/javascript"></script>
</body>

</html>